.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.login_container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.form_container {
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction:column;

  padding: 2vw 2vw 2vw 2vw;
  border-radius: 12px;
  gap: 1.25vh;
  width: 26vw;
}